<div class="login-modal">
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <input type="text" [(ngModel)]="username" name="username" [placeholder]="translate('Identifiant')" required #usernameInput="ngModel">
    <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error-message">
      {{ translate('Un nom d\'utilisateur est requis') }}
    </div>
    <input type="password" [(ngModel)]="password" name="password" [placeholder]="translate('Mot de passe')" required #passwordInput="ngModel">
    <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
      {{ translate('Un mot de passe est requis') }}
    </div>
    <button type="submit" [disabled]="loginForm.invalid">{{ translate('Connexion') }}</button>
    <div *ngIf="loginError" class="error-message2">
      {{ translate('Erreur de login ou de mot de passe') }}
    </div>
    <div class="login-footer">
      <p>{{ translate('Pas encore de compte?') }} <a (click)="openRegister()">{{ translate('Inscrivez-vous') }}</a></p>
    </div>
  </form>
</div>
