/* header.component.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Effet d'ombre pour le header */
}

.header .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.user-info {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.user-info .user-icon {
    margin-left: 10px;
}
