.film-gallery {
    padding: 20px;
    text-align: center;
    color: white;
}

.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.film {
    position: relative;
    width: 150px;
    cursor: pointer;
}

.film img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.film-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.film:hover .film-info {
    opacity: 1;
}
