<div class="header">
    <div class="logo">
        <a href="/">WatchOurMovie</a>
        <button class="flag-button" (click)="onFlagClick()">
            <img [src]="'./assets/img/' + getCurrentLanguage() + '_flag.png'" alt="Drapeau Français" class="french-flag" />
        </button>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Recherche..." (keyup)="onSearchKeyUp($event)">
        <div class="search-results" *ngIf="searchResults.length > 0">
            <ul>
                <li *ngFor="let movie of searchResults" (click)="onSelectMovie(movie.id)">
                    {{ movie.title }}
                </li>
            </ul>
        </div>
    </div>
    <div class="user-info">
        <ng-container *ngIf="userName; else showLogin">
            <span (click)="goToProfile()">{{ userName }}</span>
            <button (click)="logout()">Déconnexion</button>
        </ng-container>
        <ng-template #showLogin>
            <span (click)="openLoginModal()">Se connecter</span>
            <i class="user-icon" (click)="openLoginModal()">👤</i>
        </ng-template>
    </div>
</div>
